body {
	padding: 0px;
	margin: 0px;
	background-color: rgb(20, 20, 40);
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

@keyframes slideUpIntro {
	0% {
		transform: translate(0%, 25%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

#centerTextContainer {
	position: absolute;
	left: 20%;
	top: 25%;
	width: 30%;
	font-size: 3vw;
}

#clickDownBtn {
	animation: slideUpIntro 1s ease-out 1250ms 1 forwards;
	transform: translate(0%, 25%);
	position: absolute;
	left: 48%;
	top: 93%;
	cursor: pointer;
}

.bi-chevron-bar-down {
    font-size: 2.5vw;
}

#aboutMe {
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#aboutMe-info1 {
	position: absolute;
	top: 25%;
	left: 12.5%;
	width: 20%;
	font-size: 1.75vw;
	text-align: center;
}

#aboutMe-info2 {
	position: absolute;
	top: 55%;
	left: 12.5%;
	width: 20%;
	font-size: 1.75vw;
	text-align: center;
}

#iconsContainer {
	position: absolute;
	left: 50%;
	top: 25%;
	height: 50%;
	width: 50%;
}

.programmingIcon {
	position: absolute;
	top: 40%;
	left: 40%;
	width: 10%;
	height: auto;
}

#contactMe {
	position: absolute;
	top: 200%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#contactMe-title {
	position: absolute;
	width: 100%;
	left: 0%;
	text-align: center;
	top: 12.5%;
	font-size: 3vw;
}

#socialLinksContainer {
	position: absolute;
	width: 100%;
	height: 15%;
	left: 0%;
	text-align: center;
	top: 27.5%;
	font-size: 3vw;
}

#socialLinksContainer a {
	color: white;
	text-decoration: none;
}

#slightDivider {
	position: absolute;
	top: 42.5%;
	left: 35%;
	width: 30%;
}

#review {
	position: absolute;
	top: 55%;
	left: 25%;
	width: 50%;
	text-align: center;
	font-size: 1.5vw;
}

.socialIcon:hover {
	color: rgb(85, 85, 85);
	transition: all 250ms;
}

.socialIcon {
	transition: all 250ms;
}

#kgsenseiText {
	transform: translate(0%,25%);
	animation: slideUpIntro 750ms ease-out 1000ms 1 forwards;
}

@media only screen and (max-width:600px){
	#centerTextContainer {
		width: 70%;
		left: 10%;
		top: 15%;
		font-size: 5.5vh;
	}

	.bi-chevron-bar-down {
		font-size: 5vh;
	}

	#aboutMe {
		top: 80%;
	}

	#aboutMe-info1 {
		width: 90%;
		left: 5%;
		font-size: 3vh;
	}

	#aboutMe-info2 {
		width: 90%;
		left: 5%;
		top: 40%;
		font-size: 3vh;
	}

	.programmingIcon {
		width: 20%;
		height: auto;
	}

	#iconsContainer {
		position: absolute;
		overflow: hidden;
		left: 0%;
		top: 60%;
		height: 75%;
		width: 100%;
	}

	#contactMe {
		top: 225%;
		height: 70%;
	}

	#contactMe-title {
		font-size: 4.75vh;
	}

	#socialLinksContainer {
		font-size: 8vw;
	}

	#review {
		left: 5%;
		width: 90%;
		font-size: 4.5vw;
	}
}
