body {
	padding: 0px;
	margin: 0px;
	background-color: rgb(10, 47, 70);
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

/* Front page anim sequence & associated assets */

@keyframes slideUpIntro {
	0% {
		transform: translate(0%, 25%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

#helloContainer {
	position: absolute;
	left: 20%;
	top: 25%;
	width: 30%;
	font-size: 3vw;
}

#clickDownBtn {
	animation: slideUpIntro 1s ease-out 1750ms 1 forwards;
	transform: translate(0%, 25%);
	position: absolute;
	left: 48%;
	top: 93%;
	cursor: pointer;
}

.bi-chevron-bar-down {
    font-size: 2.5vw;
}

/* About me section */

#aboutMe {
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#aboutMe-Title {
	position: absolute;
	top: 2%;
	left: 1%;
	font-size: 3vw;
}

#aboutMe-content {
	position: absolute;
	top: 15%;
	left: 5%;
	width: 40%;
	word-wrap: break-word;
	font-size: 1.5vw;
}

#mySkills {
	position: absolute;
	top: 200%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#mySkills-Title {
	position: absolute;
	top: 2%;
	left: 1%;
	font-size: 3vw;
}

#mySkills-container {
	position: absolute;
	top: 15%;
	left: 8%;
	width: 80%;
	height: 75%;
	font-size: 1vw;
}

.mySkills-item {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 10%;
	padding-bottom: 20px;
}

.mySkills-icon {
	position: relative;
	height: 100%;
	width: auto;
}

.mySkills-skillBar {
	display: inline-block;
	position: absolute;
	width: 90%;
	left: 10%;
	top: 15%;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	height: 60%;
}

.mySkills-skillLevel {
	border-radius: 10px;
	position: relative;
	width: 0%;
	background-color: rgba(0, 255, 136, 0.5);
	height: 100%;
}

#contactMe {
	position: absolute;
	top: 300%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#contactMe-title {
	position: absolute;
	width: 100%;
	left: 0%;
	text-align: center;
	top: 12.5%;
	font-size: 3vw;
}

#socialLinksContainer {
	position: absolute;
	width: 100%;
	height: 15%;
	left: 0%;
	text-align: center;
	top: 27.5%;
	font-size: 3vw;
}

#socialLinksContainer a {
	color: white;
	text-decoration: none;
}

#kgsenseiText {
	transform: translate(0%, 25%);
	animation: slideUpIntro 750ms ease-out 1000ms 1 forwards;
}

.fadeInOnReveal {
	opacity: 0;
	transform: translate(0%, 25%);
}

#otherLinks {
	overflow: hidden;
	position: absolute;
	top: 365%;
	width: 100%;
	height: 35%;
	background-color: rgba(0, 0, 0, 0.5);
	column-count: 3;
}

#otherLinks a {
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
}

.linkContainer {
	padding-left: 50px;
	padding-top: 50px;
	padding-right: 50px;
}

@media only screen and (max-width:600px){
	#helloContainer {
		width: 70%;
		left: 10%;
		top: 15%;
		font-size: 5.5vh;
	}

	.bi-chevron-bar-down {
		font-size: 5vh;
	}

	#aboutMe {
		top: 100%;
	}

	#aboutMe-Title {
		position: absolute;
		top: 3%;
		left: 2.5%;
		font-size: 5vh;
	}
	
	#aboutMe-content {
		top: 15%;
		left: 5%;
		width: 90%;
		font-size: 2.6vh;
	}

	#contactMe {
		top: 310%;
		height: 85%;
	}

	#otherLinks {
		top: 360%;
	}

	#contactMe-title {
		font-size: 4.75vh;
	}

	#socialLinksContainer {
		font-size: 8vw;
	}

	#mySkills {
		top: 200%;
	}
	
	#mySkills-Title {
		position: absolute;
		top: 3%;
		left: 2.5%;
		font-size: 5vh;
	}
	
	.mySkills-item {
		padding-bottom: 15px;
	}
	
	.mySkills-icon {
		position: relative;
		height: 100%;
		width: auto;
	}
	
	.mySkills-skillBar {
		width: 75%;
		left: 25%;
		top: 20%;
		height: 40%;
	}

	.linkContainer {
		padding-left: 10px;
		padding-top: 20px;
		padding-right: 10px;
	}
}
