:root {
     --contact_icon_height: 68%;
     --contact_icon_size: 10.5%;
     --card_height_pc: 18%;
     --animation_display: none;
}body{
     background: linear-gradient(196deg,#111111,#505050);
     background-size: 1000% 1000%;
     -webkit-animation: greyBackground 15s ease infinite;
     -moz-animation: greyBackground 15s ease infinite;
     -o-animation: greyBackground 15s ease infinite;
     animation: greyBackground 15s ease infinite;
}@-webkit-keyframes greyBackground {
     0%{background-position:65% 0%}
     50%{background-position:36% 100%}
     100%{background-position:65% 0%}
}@-moz-keyframes greyBackground {
     0%{background-position:65% 0%}
     50%{background-position:36% 100%}
     100%{background-position:65% 0%}
}@-o-keyframes greyBackground {
     0%{background-position:65% 0%}
     50%{background-position:36% 100%}
     100%{background-position:65% 0%}
}@keyframes greyBackground {
     0%{background-position:65% 0%}
     50%{background-position:36% 100%}
     100%{background-position:65% 0%}
}#titleA{
     display: var(--animation_display);
     position: absolute;
     left: 14px;
     color: white;
     padding-top: 5px;
     margin-top: 5px;
     padding-left: 10px;
     margin-left: 10px;
}#copyright{
     position: absolute;
     left: 1%;
     top: 95.8%;
     color: white;
     font-size: 20px;
}#copyrightBase,#firstLink,#secondLink,#thirdLink{
     display: var(--animation_display);
}#lineOne{
     position: absolute;
     width: 100%;
     top: var(--card_height_pc);
     left: 0%;
}.card{
     background-color: rgb(30,30,30);
     border-radius: 8px;
     border-color: rgb(20,20,20);
     border-style: solid;
     border-width: 1px;
     color: white;
     width: 450px;
     height: 190px;
     padding-top: 0px;
     margin-top: 0px;
     padding-left: 12px;
     margin-left: 12px;
}#card1pc{
     display: var(--animation_display);
     position: absolute;
     top: var(--card_height_pc);
     left: 4.5%;
}#card2pc{
     display: var(--animation_display);
     position: absolute;
     top: var(--card_height_pc);
     left: 33%;
}#card3pc{
     display: var(--animation_display);
     position: absolute;
     top: var(--card_height_pc);
     left: 61.5%;
}.cardLink{
     position: absolute;
     top: 42.5%;
}.cardLink2{
     position: absolute;
     top: 55%;
}.cardLink3{
     position: absolute;
     top: 67.5%;
}#iconGitHub{
     display: var(--animation_display);
     position: absolute;
     width: var(--contact_icon_size);
     height: var(--contact_icon_size);
     top: var(--contact_icon_height);
     left: 20%;
}#iconMainTo{
     display: var(--animation_display);
     position: absolute;
     width: var(--contact_icon_size);
     height: var(--contact_icon_size);
     top: var(--contact_icon_height);
     left: 62.5%;
}#iconDiscord{
     display: var(--animation_display);
     position: absolute;
     width: var(--contact_icon_size);
     height: var(--contact_icon_size);
     top: var(--contact_icon_height);
     left: 47.75%;
}#iconTwitter{
     display: var(--animation_display);
     position: absolute;
     width: var(--contact_icon_size);
     height: var(--contact_icon_size);
     top: var(--contact_icon_height);
     left: 33.5%;
}#mobile{
     display: none;
}#pc{
     display: block;
}@media screen and (max-width: 800px){
     #mobile{
          display: block;
     }#pc{
          display: none;
     }.mobileCard{
          background-color: rgb(30,30,30);
          border-radius: 10px;
          border-color: rgb(20,20,20);
          border-style: solid;
          border-width: 1px;
          color: white;
          width: 318px;
          height: 220px;
          padding-top: 0px;
          margin-top: 22px;
          padding-left: 13px;
          margin-left: 10px;
     }#card1mobile{
          position: absolute;
          top: 11.5%;
     }#card2mobile{
          position: absolute;
          top: 44%;
     }#card3mobile{
          position: absolute;
          top: 76.5%;
     }#copyright{
          position: absolute;
          top: 133%;
          left: 1.25%;
     }.mobileCard h1{
          font-size: 30px;
     }#titleA{
          position: absolute;
          left: 14px;
          color: white;
          padding: 7.5px;
          margin: 7.5px;
     }#copyright{
          display: block;
          position: absolute;
          left: 0.1%;
          top: 113%;
          font-size: 14px;
          color: white;
     }
}
