:root{
    --contact_icon_height:68%;
    --contact_icon_size:10.5%;
    --card_height_pc:18%;
    --animation_display:none;
}body{
    background-image:url("./backdrop.jpg");
}#sectionOne{
    position:fixed;
    top:10%;
    left:5%;
    color:white;
    font-family:'Courier New',Courier,monospace;
    font-size:40px;
}*{
    user-select:none;
}*::selection{
    background:none;
}*::-moz-selection{
    background:none;
}#mainMenu{
	display:block;
}.OptionButton{
	cursor:pointer;
	border-radius:5px;
	width:300px;
	height:40px;
	color:white;
	background-color:rgb(30,30,30);
	border-style:solid;
	border-width:2px;
	border-color:rgb(50,50,50);
	font-size:25px;
}.mainMenu-Buttons{
	position:absolute;
	left:10%;
	top:20%;
}#mainMenu-BiggerProjects{
	display:none;
}#mainMenu-Hacks{
	display:none;
}@media only screen and (max-width:600px){
    #sectionOne{
		font-size:25px;
        top:5%;
        left:5%;
    }.mainMenu-Buttons{
		position:absolute;
		left:50%;
		top:13%;
		transform:translate(-50%,0%);
	}
}
