:root{
    --contact_icon_height:68%;
    --contact_icon_size:10.5%;
    --card_height_pc:18%;
    --animation_display:none;
}body{
    background: linear-gradient(196deg,#111111,#222222);
    background-size: 1000% 1000%;
    -webkit-animation: greyBackground 15s ease infinite;
    -moz-animation: greyBackground 15s ease infinite;
    -o-animation: greyBackground 15s ease infinite;
    animation: greyBackground 15s ease infinite;
}@-webkit-keyframes greyBackground {
	0%{background-position:65% 0%}
    50%{background-position:36% 100%}
    100%{background-position:65% 0%}
}@-moz-keyframes greyBackground {
    0%{background-position:65% 0%}
    50%{background-position:36% 100%}
    100%{background-position:65% 0%}
}@-o-keyframes greyBackground {
    0%{background-position:65% 0%}
    50%{background-position:36% 100%}
    100%{background-position:65% 0%}
}@keyframes greyBackground {
    0%{background-position:65% 0%}
    50%{background-position:36% 100%}
    100%{background-position:65% 0%}
}#sectionOne{
    position:fixed;
    top:20%;
    left:10%;
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size:40px;
}*{
    user-select:none;
}*::selection{
    background:none;
}*::-moz-selection{
    background:none;
}#pc{
    display:block;
}@media only screen and (max-width:600px){
    #sectionOne{
		font-size:25px;
        top:20%;
        left:5%;
    }
}
