body{
     background-color: black;
}#logo{
     position: fixed;
     top: 30px;
     left: 30px;
}#content{
     background-color: rgb(15,15,15);
     position: absolute;
     top: 0px;
     left: 385px;
     height: 157%;
     width: 50%;
}#contentHolder{
     position: relative;
     left: 4%;
     top: 10px;
}.item{
     padding-left: 5px;
     margin-left: 5px;
     color: white;
     position: relative;
     width: 92%;
     height: 250px;
     background-color: rgb(30,30,30);
}#copyright{
     position: fixed;
     top: 95%;
     left: 32px;
}